body {
    background-color: lightskyblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* This section will describe the header */
header {
    background-color: navy;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 35px;
    width: 100%;
}

header h1 {
    color:aliceblue;
    font-size: 350%;
    display: flex;
    justify-content: center;
}

header p {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

/* Subheader */
nav {
    background-color: blueviolet;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    font-size: 175%;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration : none;
}

/* divider */
.aboutme p, .apps #fanpage {
    border-left: 10px solid black;
    left: 0%;
    height: 100%;
    margin-left:  10%;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
}


/* About Me*/
.aboutme {
    background-color:rgb(250, 2, 56);
    padding: 30px;
}

.aboutme p {
    padding: 10px;

}


/* Applications */
.apps {
    background-color: green;
    display:flex;
    flex-flow: column wrap;
    padding: 30px;
}

#fanpage {
    position: relative;
    text-align: center;
    color: aliceblue;
}

#fanpage h3 {
    position: absolute;
    top: 50%;
    left: 30%;
}
