body {
    background-color: lightskyblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* This section will describe the header */
header {
    background-color: lightcoral;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 35px;
    width: 100%;
}

header h1 {
    color:black;
    font-size: 350%;
    display: flex;
    justify-content: center;
}

header p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

/* Subheader */
nav {
    background-color: lightgoldenrodyellow;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    font-size: 175%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration : none;
}

/* Main */


/* About Me*/
.aboutme {
    background-color:lightcoral;
    padding: 10px;
    display: flex;
}

.aboutme h2, .work h2 {
    padding: 50px;
}

/* divider */
.aboutme div, .work div {
    border-left: 10px solid black;
    /* position: relative; */
    padding: 10px;
}

.aboutme p {
    padding: 10px;
}


/* Work Section */
.work {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    display: flex;
}

.websites {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.app-item {
    padding: 20px;
}

/* #fanpage {
    display: flex;
    justify-content: center;
} */













/* Grid Section
.apps {
    display: grid;
    grid-template-columns: 35% 35%;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    

} */


/* .pictures {
    object-fit: contain;
    width: 50%;
    height: 100%;
} */